.DS_Store
.venv
.python-version
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.egg
*.egg-info/
dist/
build/
.env
*.env
*.coverage
.coverage.*
*.tox
*.mypy_cache/
*.pytest_cache/
*.ipynb_checkpoints/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.swp
*.swo
*.DS_Store
.idea/
.vscode/